/* Стили для модального окна */
.modal {
    position: fixed;            /* Фиксированное позиционирование на экране */
    top: 0;                    /* Верхний край экрана */
    left: 0;                   /* Левый край экрана */
    width: 100%;               /* Ширина модального окна во всю ширину экрана */
    height: 100vh;              /* Высота модального окна во всю высоту экрана */
    background: rgba(0, 0, 0, 0.8); /* Полупрозрачный черный фон */
    z-index: 1000;             /* Позиция модального окна перед другими элементами */
    opacity: 0;                /* Начальная прозрачность окна (невидимо) */
    transition: opacity 400ms ease-in-out; /* Плавный переход прозрачности при открытии/закрытии */
    pointer-events: none;  /* Предотвращает взаимодействие с окном, пока оно закрыто */
}

/* Стили для модального окна, когда оно активировано (при помощи :target) */
.modal:target {
    opacity: 1;                /* Делает окно видимым */
    pointer-events: auto;   /* Позволяет взаимодействовать с элементами внутри окна */
}

/* Стили для контентного блока внутри модального окна */
.modal-content {
    position: relative;        /* Относительное позиционирование */
    width: 50%;               /* Ширина блока составляет 50% от ширины экрана */
    /* max-width: 600px;         Максимальная ширина блока 600px */
    margin: 50px auto;         /* Центрирование блока по вертикали и горизонтали */
    padding: 20px;            /* Внутренние отступы блока */
    background: #fff;         /* Белый фон */
    border-radius: 4px;       /* Скругленные углы */
    height: 80%;
}

@media screen and (max-width: 600px)  {
    .modal-content{
        margin: 6% ;
        width: 70%;
    }
}
/* Стили для кнопки закрытия модального окна */
.close {
    position: absolute;       /* Абсолютное позиционирование кнопки */
    top: 10px;                /* Расположение кнопки сверху на 10px */
    right: 20px;              /* Расположение кнопки справа на 20px */
    text-decoration: none;    /* Убрать подчеркивание у ссылки */
    font-size: 24px;          /* Размер шрифта для кнопки */
}
/* Стили для кнопки закрытия при наведении курсора */
.close:hover {
    color: red;               /* Красный цвет при наведении */
}


.table_style{
    display: flex;
    justify-content: center;

    margin: 10px;

}


th {
    text-align: left;
    color: rgba(0, 0, 0, 0.493);
}

th{
    padding: 3px;
}

td{
    font-size: 18px;
}