<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>One Piece — Главная</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="../static/header.css">
  <link rel="stylesheet" href="../static/footer.css">
</head>
<body>
  <header>
    <h1>One Piece</h1>
    <nav>
      <a href="index.html">Главная</a>
      <a href="characters.html">Герои</a>
      <a href="about.html">О сериале</a>
    </nav>
  </header>


<main>
  <section class="quote">
    <h2>Цитата дня</h2>
    <blockquote>
      «Я стану королём пиратов!» — Монки Д. Луффи
    </blockquote>
  </section>

  <section class="news">
    <h2>Последние события</h2>
    <ul>
      <li><strong>Egghead Island:</strong> Луффи и его команда встретили Вегапанка!</li>
      <li><strong>Wano:</strong> Победа над Кайдо и освобождение страны!</li>
    </ul>
  </section>


  <section class="map">
    <h2>Карта мира One Piece</h2>
    <img src="https://cs13.pikabu.ru/post_img/big/2023/09/21/0/16952441471996631.png" alt="Карта Гранд Лайн" width="100%">
  </section>
</main>


  <footer>
    <p>© 2025 One Piece Fan Site</p>
  </footer>
</body>
</html>
